name: Actionlint
# Static checking for GitHub action workflows
# https://github.com/rhysd/actionlint

on:
  pull_request:
    paths:
      - '.github/**'

jobs:
  actionlint:
    name: Action lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check workflow files
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color -ignore SC2129
        shell: bash
